@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
